* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	background: linear-gradient(to bottom, #0c892f, #085f20);
}

h1 {
	size: 200%;
	font-family: Roboto Condensed;
	color: white;
	text-shadow: 0px 2px 2px black;
	margin: 10px;
}

p {
	font-family: Roboto Condensed;
	color: white;
	text-shadow: 0px 2px 2px black;
	margin: 10px;
}

.name {
	width: 100%;
	text-align: center;
	font-size: 200%;
}

@media only screen and (max-width: 1080px) {
	.name {
		font-size: 300%;
	}
}

.hand {
	width: 100%;
	height: 15%;
	text-align: center;
	position: relative;
}

.card {
	width: auto;
	height: 100%;
	filter: drop-shadow(0px 2px 2px black);
	padding: 4px;
}

.trump {
	filter: drop-shadow(0px 0px 8px yellow);
}

.clickable:hover {
	transform: translateY(-10px);
	transition-duration: 0.1s;
}

.unclickable {
	opacity: 0.7;
	cursor: not-allowed;
}

#middle {
	height: 25%;
	position: fixed;
	bottom: 45%;
}

#log {
	text-align: center;
	font-size: 150%;
}

@media only screen and (max-width: 1080px) {
	#log {
		font-size: 250%;
	}
}

#bottom_name {
	position: fixed;
	bottom: 25%;
}

#bottom_hand {
	position: fixed;
	bottom: 10%;
}

#bottom {
	width: 100%;
	height: 10%;
	text-align: center;
	position: fixed;
	bottom: 0%;
}

input[type=text] {
	width: 20%;
	margin: 8px 0;
	padding: 6px 10px;
	box-sizing: border-box;
	border-radius: 6px;
	border: 4px solid #2bdb5c;
	background-color: #2bdb5c;
	transition-duration: 0.2s;
	font-family: Roboto Condensed;
	font-size: 20px;
	color: white;
}

input[type=text]:focus {
	outline: none;
}

::-webkit-input-placeholder {
	color: #91ffaf;
}

input[type=submit] {
	padding: 10px 24px;
	margin: 8px 0;
	font-size: 200%;
	font-family: Roboto Condensed;
	border: none;
	background-color: #11c042;
	color: white;
	border-radius: 8px;
	transition-duration: 0.2s;
}

input[type=submit]:hover {
	background-color: #2bdb5c;
}

#deal {
	width: 15%;
	height: 100%;
	font-size: 300%;
	font-family: Roboto Condensed;
	border: none;
	background-color: #11c042;
	color: white;
	border-radius: 8px;
	transition-duration: 0.2s;
}

@media only screen and (max-width: 1080px) {
	#deal {
		width: 100%;
		font-size: 600%;
		border-radius: 0px;
	}
}

#deal:hover {
	background-color: #2bdb5c;
}

.bid_button {
	font-size: 300%;
	font-family: Roboto Condensed;
	border: none;
	background-color: #11c042;
	color: white;
	border-radius: 8px;
	transition-duration: 0.2s;
	padding: 16px 32px;
}

@media only screen and (max-width: 1080px) {
	.bid_button {
		font-size: 600%;
		padding: 32px 64px;
		margin: 4px;
	}
}

.bid_button:hover {
	background-color: #2bdb5c;
}
