<html>

<script type=text/javascript src="{{ url_for('static', filename='jquery/jquery-3.1.1.min.js') }}"></script>

<script type=text/javascript>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

	$(document).ready(function() {
		$('#middle').on('click', '.bid_button', function() {
			$.getJSON($SCRIPT_ROOT + '/do_action', {
				bid: $(this).attr('value')
			}, function(data) {
				$('#log').html(data.msg);
				$('#top_name').html(data.top_name);
				$('#top_hand').html(data.top_hand);
				$('#middle').html(data.middle);
				$('#bottom_hand').html(data.bottom_hand);
				$('#bottom_name').html(data.bottom_name);
				$('#bottom').html(data.bottom);
			});
			return false;
		});

		$('#bottom').on('click', '#adv_button', function() {
			$.getJSON($SCRIPT_ROOT + '/do_action', {},
				function(data) {
					$('#log').html(data.msg);
					$('#top_name').html(data.top_name);
					$('#top_hand').html(data.top_hand);
					$('#middle').html(data.middle);
					$('#bottom_hand').html(data.bottom_hand);
					$('#bottom_name').html(data.bottom_name);
					$('#bottom').html(data.bottom);
				}
			);
		});

		$('#bottom_hand').on('click', '.card', function() {
			$.getJSON($SCRIPT_ROOT + '/do_action', {
				card: $(this).val()
			}, function(data) {
				$('#log').html(data.msg);
				$('#top_name').html(data.top_name);
				$('#top_hand').html(data.top_hand);
				$('#middle').html(data.middle);
				$('#bottom_hand').html(data.bottom_hand);
				$('#bottom_name').html(data.bottom_name);
				$('#bottom').html(data.bottom);
			});
		});
	});
</script>

<head>
	<title>pb - Pitch Bot</title>
</head>
<body>
	<table id="body_table">
		<tr>
			<td id="top_name"><b>Player 2</b></td>
		</tr>
		<tr>
			<td id="top_hand" height="200px"></td>
		</tr>
		<tr>
			<td id="middle" height="200px"></td>
		</tr>
		<tr>
			<td id="bottom_hand" height="200px"></td>
		</tr>
		<tr>
			<td id="bottom_name"><b>Player 1</b></td>
		</tr>
		<tr>
			<td id="log"></td>
		</tr>
		<tr>
			<td id="bottom">
				{% if not session['hands_dealt'] %}
				<button id="adv_button" type="button">Deal</button>
				{% endif %}
			</td>
		</tr>
	</table>
</body>
</html>
