<html>

<script type=text/javascript src="{{ url_for('static', filename='jquery/jquery-3.1.1.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/scripts.js') }}"></script>

<head>
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="static/css/cards.css">

	<title>pb - Pitch Bot</title>
</head>

<body>
	<table id="body_table">
		<tr>
			<td id="top_name"><b>Player 2</b></td>
		</tr>
		<tr>
			<td id="top_hand" height="250px"></td>
		</tr>
		<tr>
			<td id="middle" height="250px"></td>
		</tr>
		<tr>
			<td id="bottom_hand" height="250px"></td>
		</tr>
		<tr>
			<td id="bottom_name"><b>Player 1</b></td>
		</tr>
		<tr>
			<td id="bottom">
				{% if not session['hands_dealt'] %}
				<button id="adv_button" type="button">Deal</button>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td id="log"></td>
		</tr>
	</table>
</body>
</html>
